.App {
  text-align: center;
}

@font-face {
  font-family: 'Gotham-Book' ;
  src: url('./font/Gotham-Book.otf');
}
@font-face {
  font-family: 'Gotham-Bold' ;
  src: url('./font/Gotham-Bold.otf');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.helmet {
  font-family: 'Gotham-Bold'; 
  letter-spacing: 5px;
}

.footer {
  font-family: 'Gotham-Book'; 
  letter-spacing: 1px;
  text-align: 'center';
  font-size:"18px"
}
